---
import Blog from '@/layouts/Blog.astro'
import { Image } from 'astro:assets'
import { getCollection } from 'astro:content'

const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/images/*.{jpeg,jpg,png,gif,webp}'
)

const rawPosts = await getCollection('blog')
const initialPosts = rawPosts
  .sort((a, b) => b.data.published.getTime() - a.data.published.getTime())
  .slice(0, 6)

const posts = await Promise.all(
  initialPosts.map(async post => {
    const imagePath = `/src/assets/images/${post.data.img}`
    const image = await images[imagePath]()

    return {
      id: post.id,
      title: post.data.title,
      description: post.data.description,
      image: image.default,
      createdAt: post.data.published
    }
  })
)

const lastPage = Math.ceil(rawPosts.length / 6)
const currentPage = 1

function getPageNumbers(currentPage: number, lastPage: number) {
  const pages = []
  const maxVisible = 3

  let start = Math.max(1, currentPage - Math.floor(maxVisible / 2))
  let end = Math.min(lastPage, start + maxVisible - 1)

  if (end - start + 1 < maxVisible) {
    start = Math.max(1, end - maxVisible + 1)
  }

  for (let i = start; i <= end; i++) {
    pages.push(i)
  }

  return pages
}

const pageNumbers = getPageNumbers(currentPage, lastPage)
---

<Blog
  title="Artículos sobre conceptos de tecnología"
  description="Si eres de esas personas que siempre se han preguntado cómo funcionan las cosas, tal vez puedas encontrar aquí un par de respuestas."
  main
>
  <section class="mt-4 mb-6 lg:mb-12 mx-auto 2xl:w-[60%] w-[90%]">
    <h1 class="block">
      <p
        class="leading-[1.5] text-lg md:text-2xl font-semibold tracking-tight text-contrast"
      >
        Bienvenido a este tech-blog
      </p>
      <p
        class="text-black dark:text-white leading-[1.1] text-2xl lg:text-3xl font-semibold tracking-tight"
      >
        Comparto conceptos, consejos y artículos sobre tecnología.
      </p>
    </h1>
    <p class="text-sm sm:text-lg md:text-xl mt-4">
      Si eres de esas personas que siempre se han preguntado cómo funcionan las
      cosas, tal vez puedas encontrar aquí un par de respuestas o un nuevo punto
      de vista sobre algún tema.
    </p>
    <p class="text-xl mt-4 hidden md:block">
      En el mundo del software hay muchos términos y conceptos que pueden
      resultar intimidantes cuando estás comenzando a aprender. Mi objetivo no
      es minimizar la importancia ni la complejidad de esos conceptos, sino
      preparar un camino que permita a las personas que están aprendiendo
      introducirse en ellos de manera más accesible.
    </p>
    <p class="text-sm sm:text-lg md:hidden mt-2">
      En el mundo del software hay muchos términos y conceptos que pueden
      resultar intimidantes cuando estás comenzando a aprender.
    </p>
    <p class="text-sm sm:text-lg md:hidden mt-2">
      Mi objetivo no es minimizar la importancia ni la complejidad de esos
      conceptos, sino preparar un camino que permita a las personas que están
      aprendiendo introducirse en ellos de manera más accesible.
    </p>
  </section>
  <section class="bg-secondary border-t-[1px]">
    <div class="mx-auto 2xl:w-[60%] w-[90%] pt-8 lg:pt-12">
      <h2
        class="leading-[1.1] text-xl lg:text-2xl font-semibold tracking-tight"
      >
        Tecnología, software, pinguinos y Skynet?
      </h2>
      <p class="mt-4 text-xl hidden md:block">
        Una colección de diferentes artículos sobre temas mayormente
        relacionados con la tecnología. La idea es intentar cubrirlos de forma
        consistente, semana a semana.
      </p>
      <p class="mt-2 md:hidden text-sm sm:text-lg">
        Una colección de diferentes artículos sobre temas mayormente
        relacionados con la tecnología.
      </p>
      <ul class="mt-8 grid grid-cols-1 lg:grid-cols-2 gap-4 sm:gap-5">
        {
          posts.map(post => (
            <li>
              <a href={`/${post.id}/`} aria-label={post.title}>
                <div class="grid grid-cols-[90px_1fr] lg:grid-cols-[120px_1fr] gap-2 items-center hover:scale-[102%] transition-transform duration-350">
                  <Image
                    class="border-[1px] rounded-xs w-full h-auto hover:underline underline-offset-2"
                    src={post.image}
                    width={350}
                    height={400}
                    widths={[300, 350, 500]}
                    sizes="(max-width: 768px) 100vw, (max-width: 1024px) 300px, 350px"
                    format="webp"
                    style={`view-transition-name: ${post.id};`}
                    alt={post.title}
                  />
                  <div>
                    <h3 class="line-clamp-2 font-semibold lg:line-clamp-none leading-[1.2] lg:text-xl w-full text-left lg:font-semibold tracking-tight">
                      {post.title}
                    </h3>
                    <p class="mt-1 opacity-85 line-clamp-1 sm:line-clamp-2 text-sm lg:text-base ">
                      {post.description}
                    </p>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
      <div class="flex justify-center items-center mt-4 lg:mt-8">
        <nav
          class="flex justify-center items-center gap-2 flex-wrap"
          aria-label="Navegación de páginas"
        >
          <!-- Primera página y anterior -->
          {
            !pageNumbers.some(number => number === 1) && (
              <a
                href="/"
                class="rounded-xs px-4 py-2 hover:bg-black/5 dark:hover:bg-white/5 transition-colors deration-150"
              >
                1
              </a>
            )
          }

          {currentPage > 3 && <span class="px-2 text-gray-500">...</span>}

          <!-- Páginas alrededor de la actual -->
          {
            pageNumbers.map(pageNum =>
              pageNum === currentPage ? (
                <span
                  class="px-4 py-2 bg-black/5 dark:bg-white/5 rounded-xs font-semibold"
                  aria-current="page"
                >
                  {pageNum}
                </span>
              ) : pageNum === 1 ? (
                <a
                  href="/"
                  class="px-4 py-2 rounded-xs hover:bg-black/5 dark:hover:bg-white/5  transition-colors duration-150"
                >
                  {pageNum}
                </a>
              ) : (
                <a
                  href={`/${pageNum}/`}
                  class="px-4 py-2 rounded-xs hover:bg-black/5 dark:hover:bg-white/5 transition-colors  duration-150"
                >
                  {pageNum}
                </a>
              )
            )
          }

          <!-- Última página -->
          {
            currentPage < lastPage - 2 && (
              <span class="px-2 text-gray-500">...</span>
            )
          }

          {
            !pageNumbers.some(pageNum => pageNum === lastPage) && (
              <a
                href={`/${lastPage}/`}
                class="px-4 py-2 rounded-xs hover:bg-black/5 dark:hover:bg-white/5 transition-colors duration-150"
              >
                {lastPage}
              </a>
            )
          }
        </nav>
      </div>
    </div>
  </section>
  <section class="bg-secondary py-6 md:py-12">
    <div class="mx-auto 2xl:w-[60%] w-[90%]">
      <h2
        class="leading-[1.1] text-xl lg:text-2xl font-semibold tracking-tight"
      >
        Descubre más
      </h2>
      <p class="text-sm sm:text-lg mt-2 md:mt-4 md:text-xl">
        Si estás interesado en el software y la tecnología en general, te invito
        a seguirme en mis redes sociales, donde participo de forma activa como
        alguien que disfruta de estos temas de manera más relajada y divertida.
      </p>
      <ul class="pl-2 text-sm sm:text-lg md:text-xl mt-4 list-none">
        <li>
          - <a
            href="https://www.instagram.com/yeremi.rrios/"
            target="_blank"
            referrerpolicy="no-referrer"
            rel="noopener noreferrer nofollow"
            class="underline underline-offset-2 decoration-contrast hover:text-black dark:hover:text-white transition-colors duration-200"
            >yeremi.rrios</a
          > en Instagram y en Threads
        </li>
        <li>
          - <a
            href="https://x.com/yeremi_rrios"
            target="_blank"
            referrerpolicy="no-referrer"
            rel="noopener noreferrer nofollow"
            class="underline underline-offset-2 decoration-contrast hover:text-black dark:hover:text-white transition-colors duration-200"
            >yeremi_rrios</a
          > en X (Twitter)
        </li>
        <li>
          - <a
            href="https://github.com/yarso-su"
            target="_blank"
            referrerpolicy="no-referrer"
            rel="noopener noreferrer nofollow"
            class="underline underline-offset-2 decoration-contrast hover:text-black dark:hover:text-white transition-colors duration-200"
            >yarso-su</a
          > en GitHub
        </li>
      </ul>
    </div>
  </section>
</Blog>
